*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn{
  background-color: #047aed;
  color:#fff;
  padding:5px 10px;
  font-size: 17px;
  border-radius: 5px;
  border: 0;
  outline: 0;
  cursor: pointer;
}