<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- This link is for upload icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">

    <!-- This link is for the info icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

</head>
<body>
    <h1>Handwriting Recognition</h1>

    <div class="box left">
        <form method="POST" enctype="multipart/form-data" onsubmit="convertButton.disabled = true;">
            <input type="file" name="image" id="uploadImage">
            <label for="uploadImage"><i class="fa-solid fa-upload"></i> Upload Image</label>

            <button type="submit" id="convertButton" name="convertButton" onclick="loading()"></button>
            <label for="convertButton" id="convertLabel"> Convert to Text</label>
        </form>

        {% if status=="Converted" %}
            <figure class="image-container" id="segmented-image-figure">
                <img id="segmented-image" src="{{url_for('static', filename='files/segmented_image.png')}}">
            </figure>
        {% endif %}
        <figure class="image-container">
            <img id="chosen-image">
            <figcaption id="file-name"></figcaption>
        </figure>

    </div>

    <div class="documentation">
        <div class="icon"><i class="fa fa-info-circle"></i></div>
        <div class="info">
            Upload your image with the upload button and then click "Convert to text" and wait for the text to come up
            in the box on the right.
            <br>
            <br>
            Note: the image can't be lined and the writing needs to be clear (sufficient spacing
            and not many scribbles).
        </div>
    </div>

    <div class="box right">
        <p id="output-text">{{output_text}}</p>
        <span class="loadingArea"></span>
        <span class="loadingArea"></span>
        <span class="loadingArea"></span>
        <span class="loadingArea"></span>
        <p id="waitMessage" class="loadingArea"></p>
    </div>

    <div class="errorMessages">
        {% for message in get_flashed_messages() %}
            <div class="message">
	            {{ message }}
	        </div>
        {% endfor %}
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>

</html>